@use "@patternfly/patternfly/patternfly-addons";
@use "page.scss";

p {
    font-weight: bold;
}

.pf-v6-c-table tr {
  > td {
    --pf-v6-c-table--cell--PaddingTop: var(--pf-v6-global--spacer--xs);
    --pf-v6-c-table--cell--PaddingBottom: var(--pf-v6-global--spacer--xs);

    padding-block: var(--pf-v6-c-table--cell--PaddingTop) var(--pf-v6-c-table--cell--PaddingBottom);

    padding-inline: var(--pf-v6-c-table--cell--PaddingLeft) var(--pf-v6-c-table--cell--PaddingRight);
    padding: 0 !important;
  }

  > th {
    padding-left: 0 !important;
    font-weight: bold;
  }
}

.pf-v6-c-card__body {
  padding-left: 0 !important;
}
